/* universal style */

@media only screen and (max-width: 1200px) {

  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1080px) {

  html {
    font-size: 12px;
  }
}


@media only screen and (max-width: 890px) {

  html {
    font-size: 16px;
  }

  .main-container {
    background-color: #e0e0e0;
  }

  .flex-row {
    flex-direction: column;
  }

  .desktop,
  .head-img {
    display: none;
  }

  .media-section {
    width: 100%;
    padding: 0;
  }

  .media-section img {
    max-width: 100%;
  }

  .right-section {
    width: 100%;
  }

  .img-container {
    width: 100%;
    margin: 0;
  }

  .img-container .mobile {
    width: 100%;
    height: auto;
  }

/* header + navigation */

  nav {
    width: 100%;
  }

  .mobile {
    display: flex;
  }

  .mobile a {
    display: flex;
    flex-basis: 25%;
    align-items: center;
    justify-content: center;
  }

  /* learn-section */

  .start-box {
    padding: 2rem 1rem;
    background-color: #e0e0e0;
    box-shadow: none;
  }

  .button {
    width: 100%;
    box-shadow: 0 6px 12px rgba(0,0,0,0.18), 0 6px 12px rgba(0,0,0,0.25);
  }

  .button:hover {
    box-shadow: 0 16px 32px rgba(0,0,0,0.28), 0 12px 12px rgba(0,0,0,0.25);
  }

/* practice-section and thesis-section */

  .practice .media-section{
    display: none;
  }

  .information {
    padding: 1rem;
    margin: 0;
    box-shadow: none;
  }

  .information:hover {
    box-shadow: none;
    background-color: #F5F5F6;
  }

  .info {
    padding: 1rem 1rem 2rem 1rem;
  }

  .right-section span {
    margin: 1rem 0 0.5rem 0;
  }

  /* courses-section */

  .courses-section {
    margin-bottom: 2rem;
  }

  .course {
    margin: 0 1rem 0.5rem 1rem;
  }

  .content {
    padding: 1rem 0 1.5rem 1rem;
  }

  .content p,
  .content span {
    display: none;
  }

  /* thesis */

  .thesis {
    background-color: #F5F5F6;
  }
}
